body{
    min-height: 100vh;;
display: flex;
  justify-content: center;
  align-self: center;

}

.container{ 
height:440px;
width:340px;
margin: auto;

background-color: #d3d3d3;
border: 5px solid grey;
border-radius: 10%;
padding: 10px;
padding-top: 20px;
}

.DisplayBar{
background-color: #81f481;
height:60px;
border-radius: 10%;
}